@model CurrencyPriceInfoResponse

@{
    Layout = null;
}

<div class="modal fade" id="update-currencyPrice-popup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class='modal-header bg-dark'>
                <h5 class="modal-title text-white">Birim Fiyati Guncelle</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
            </div>
            <form asp-area="Panel" asp-controller="Currencies" asp-action="UpdatePriceOperation" asp-route-currencyId="@Model.CurrencyId" method="post">
                <div class="modal-body" id="modal-body">
                    <div class="mb-3">
                        <label asp-for="PurchasePrice" class="form-label">Alış Fiyatı</label>
                        <input type="number" class="form-control" id="priceupdate-purchasePrice-popup"
                            asp-for="PurchasePrice" step="0.00000001" min="0" max="9999999999999999.99999999" />
                    </div>
                    <div class="mb-3">
                        <label asp-for="SalePrice" class="form-label">Satış Fiyatı</label>
                        <input type="number" class="form-control" id="priceupdate-salePrice-popup"
                            asp-for="SalePrice" step="0.00000001" min="0" max="9999999999999999.99999999" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
                    <button type="submit" class="btn btn-dark">Guncelle</button>
                </div>
            </form>
        </div>
    </div>
</div>