@using System.Text.Json
@using Microsoft.Extensions.Primitives
@model CurrencyFilterViewModel
@{
    var query = Context.Request.Query.ToDictionary(k => k.Key.ToLower(), v => v.Value);

    StringValues categoryIds;
    string[]? selectedCategories = query.TryGetValue("categoryid", out categoryIds)
    ? categoryIds.ToArray()
    : null;

    Model.IsActive = query.ContainsKey("isactive");
}

<div class="modal fade" id="filter-currency-popup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class='modal-header bg-info'>
                <h5 class="modal-title">Birim Guncelle</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <form method="get" class="d-inline">
                <div class="modal-body" id="modal-body">
                    @await Html.PartialAsync("_DropdownTool", new DropdownModel("Kategori Seciniz",
                    "filter-category-dropdown", "CategoryId", "js-category-tool-multiple", Model.Categories, true, selectedCategories))
                    <div class="mb-3">
                        <label for="isActiveFilter" class="form-label">Durum</label>
                        <select id="isActiveFilter" asp-for="IsActive" class="form-select">
                            <option value="">
                                Seçiniz
                            </option>
                            <option value="true">
                                Aktif
                            </option>
                            <option value="false">
                                Pasif
                            </option>
                        </select>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
                    <a asp-area="panel" asp-controller="Currencies" asp-action="Index"
                        class="btn btn-danger">Temizle</a>
                    <button type="submit" class="btn btn-info">Filtreleri Uygula</button>
                </div>
            </form>
        </div>
    </div>
</div>