@model AssetForUpdateResponse
@{
    Layout = null;
}
<div class="modal fade" id="update-asset-popup" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class='modal-header bg-warning'>
                <h5 class="modal-title">Varlik Güncelle</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <form asp-area="" asp-controller="Assets" asp-action="UpdateOperation" asp-route-assetId="@Model.AssetId" method="post">
                <div class="modal-body" id="modal-body">
                    <div class="mb-3">
                        <label asp-for="Count" class="form-label">Adet</label>
                        <input type="number" class="form-control" id="assetUpdate-count-popup"
                            asp-for="Count" step="1" min="0" max="9999999999999999" />
                    </div>
                    <div class="mb-3">
                        <label asp-for="PurchasePrice" class="form-label">Alış Fiyatı</label>
                        <input type="number" class="form-control" id="assetUpdate-purchasePrice-popup"
                            asp-for="PurchasePrice" step="0.01" min="0" max="9999999999999999.99" />
                    </div>
                    <div class="mb-3">
                        <label asp-for="SalePrice" class="form-label">Satış Fiyatı</label>
                        <input type="number" class="form-control" id="assetUpdate-salePrice-popup"
                            asp-for="SalePrice" step="0.01" min="0" max="9999999999999999.99" />
                    </div>
                    <div class="mb-3">
                        <label asp-for="PurchaseDate" class="form-label">Alinma Tarihi</label>
                        <input type="date" class="form-control" id="assetUpdate-purchaseDate-popup"
                            asp-for="PurchaseDate"/>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
                    <button type="submit" class="btn btn-warning">Güncelle</button>
                </div>
            </form>
        </div>
    </div>
</div>