@model CategoryInput
@{
    Layout = null;
}
<div class="modal fade" id="add-category-popup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class='modal-header bg-success'>
                <h5 class="modal-title">Kategori Ekle</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <form asp-area="Panel" asp-controller="Categories" asp-action="AddOperation" method="post">
                <div class="modal-body" id="modal-body">
                    <div class="mb-3">
                        <label asp-for="Title" class="form-label">Kategori Adı</label>
                        <input type="text" class="form-control" id="category-title-add" asp-for="Title" />
                    </div>
                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" asp-for="IsActive" />
                        <label class="form-check-label" id="category-isActive-add" asp-for="IsActive">Aktif</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
                    <button type="submit" class="btn btn-success">Ekle</button>
                </div>
            </form>
        </div>
    </div>
</div>